* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: auto;
	background-color: rgb(254, 254, 254);
}

.pcontent-wrapper video {
	width: 100%;
}

.pcontent-wrapper img {
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.ptext-wrapper {
	width: 100%;
	margin-top: -55%;
	position: relative;
}

.ptext-wrapper h1 {
	text-align: center;
	color: white;
	font-family: "Gruppo";
	font-size: 8vw;
	text-shadow: 2px 2px black;
}

.ptext-wrapper h3 {
	text-align: center;
	color: white;
	font-family: "Gruppo";
	font-size: 3vw;
	text-shadow: 2px 2px black;
}

.pfc {
	flex-flow: row wrap;
	display: flex;
}

section {
	margin: 1%;
	flex-flow: row wrap;
	display: flex;
}

.texto {
	text-align: center;
	color: black;
	font-family: "Arial";
	font-size: 1.5rem;
}

.textosmall {
	text-align: center;
	color: black;
	font-family: "Gruppo";
	font-size: 1.2rem;
}

.logo {
	padding: 2%;
	flex: 1 1 0px;
	text-align: center;
	font-family: "Gruppo";
	font-size: 1rem;
	align-self: center;
}

.logo h1 {
	text-align: center;
	color: white;
	font-family: "Gruppo";
	font-size: 9vw;
	text-shadow: 2px 2px black;
}

.titulo h1 {
	text-align: center;
	color: white;
	font-family: "Gruppo";
	font-size: 3vw;
	text-shadow: 2px 2px black;
	background-color: rgb(34, 51, 68);
}

.w3-animate-fading {
	animation: fading 10s infinite;
	align-self: center;
}

.w3-content {
	margin-right: auto;
	margin-left: auto;
}

.w3-auto {
	margin-right: auto;
	margin-left: auto;
}

.w3-content {
	max-width: 980px;
}

.w3-auto {
	max-width: 1140px;
}

.w3-btn {
	padding: 8px 16px;
	border: currentColor;
	border-image: none;
	text-align: center;
	color: inherit;
	overflow: hidden;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

.w3-button {
	padding: 8px 16px;
	border: currentColor;
	border-image: none;
	text-align: center;
	color: inherit;
	overflow: hidden;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

.w3-display-left {
	left: 15.5%;
	margin-top: -40%;
	position: relative;
}

.w3-display-right {
	left: 75%;
	margin-top: -40%;
	position: relative;
}

.mySlides {
	padding: 2%;
	border-radius: 2%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	flex: 1 1 0px;
	border-image: none;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
}

.tiles {
	margin: 0.1% auto;
	padding: 0.8%;
	border-radius: 5%;
	border: 1px solid rgb(219, 216, 216);
	border-image: none;
	text-align: center;
	font-size: 0px;
	position: relative;
	align-self: center;
}

.tiles .tile {
	margin: 10px;
	border-radius: 3px;
	text-align: left;
	overflow: hidden;
	display: inline-block;
	position: relative;
	opacity: 1;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.tiles .tile::before {
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 10%);
	left: 0px;
	top: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	content: "";
	opacity: 0;
	transition-property: top, opacity;
	transition-duration: 0.3s;
}

.tiles .tile img {
	display: block;
	max-width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.tiles .tile .details {
	padding: 20px;
	left: 0px;
	bottom: 0px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	position: absolute;
	z-index: 3;
}

.tiles .tile .details span {
	top: 100px;
	display: block;
	position: relative;
	opacity: 0;
	transition-property: top, opacity;
	transition-duration: 0.3s;
	transition-delay: 0s;
}

.tiles .tile .details .title {
	line-height: 1;
	font-family: "Gruppo";
	font-size: 1rem;
	font-weight: 600;
	text-shadow: 1px 1px black;
}

.tiles .tile .details .info {
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-family: "Gruppo";
	font-size: 1rem;
	margin-top: 5px;
	text-shadow: 1px 1px black;
}

.tiles .tile:focus::before {
	opacity: 1;
}

.tiles .tile:focus span {
	opacity: 1;
}

.tiles .tile:hover::before {
	opacity: 1;
}

.tiles .tile:hover span {
	opacity: 1;
}

.tiles .tile:focus::before {
	top: 0%;
}

.tiles .tile:hover::before {
	top: 0%;
}

.tiles .tile:focus span {
	top: 0px;
}

.tiles .tile:hover span {
	top: 0px;
}

.tiles .tile:focus .title {
	transition-delay: 0.15s;
}

.tiles .tile:hover .title {
	transition-delay: 0.15s;
}

.tiles .tile:focus .info {
	transition-delay: 0.25s;
}

.tiles .tile:hover .info {
	transition-delay: 0.25s;
}